body{
    margin: 40px;
}

/*entête de la page */
header{
    display: flex;
    justify-content: space-between;
}
header img{
    width: 200px;
}

nav{
   display: flex;
}
nav>ul>li{
   float: left; 
   padding: 20px;
   list-style-type: none;
}
nav>ul>li>a {
    text-decoration: none;
    color: black;
}
.menu:hover{
    border-top: #0065fc solid 3px;
}
.menu a:hover{
    color: #0065fc;
}
.inscription{
    color: #0065fc;
}

/* Sous- entête avec bouton de recherche et les filtres*/
.recherche{
    display: flex;
}
.recherche button {
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
    width: 130px;
    height: 40.5px;
}
.recherche img{
    padding-top: 5px;
    border-radius: 10px 0px 0px 10px;
    background-color: #f2f2f2;
    padding: 11.5px;
}
.recherche input{
    height: 40px;
    border: 1px solid #f2f2f2;
    padding: 20px;
}
button{
    color: white;
}
button:hover{
    cursor: pointer;
    color: #867d7d;

}

/*filtres*/

.filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 500px;
    margin-top: 20px;
    font-weight: bold;
}

.filtres{
    border: 1px solid #aaadaa;
    border-left: none;
    border-radius: 20px;
    width: auto;
    background-color: #e8eee8;
}

.filtres label{
    border: none;
    border-radius: 50px;
    background-color: #f2f2f2;
    padding: 10px;
    
}
.filtres button{
    color: black;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    background-color: #e8eee8;
}

.filtres button:hover{
    cursor: pointer;
    color: #0065fc;
}

.info{
    display: flex;
    margin: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* première partie gauche du corps de la page*/
.part_1{
   display: flex;
}
.part_1 img{
    object-fit: cover;
}
.titre-hotels{
   margin-right: 700px;
}

.hebergement-Marseille{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 3px 3px 3px #deefde;
}

.onglets_hotels{
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 3px 3px 3px #deefde;
}

.evaluation {
    color: #aaa;
    font-size: 1.5em;
}
.evaluation span:hover{
	color: #0065fc;
	cursor: pointer;
}

.image-plus{
   margin: auto; 
   margin-left: 40px;
}
.image-plus a:hover{
    color: #0065fc;
}

/* partie droite du corps de la page */
.titre_icone{
    display: flex;
    justify-content: space-between;
}
.populaire{
    background-color: #f2f2f2;
    padding: 20px;
    width: 30%;
    border-radius: 20px;
    margin-left: 10px;
    box-shadow: 3px 3px 3px #deefde;
}
.populaire, a{
    text-decoration: none;
    color: black;
}

.onglets-hotels-pop{
    display: flex;
    background-color: white;
    border-radius: 20px;
    text-align: justify;
    padding: 10px;
    height: auto;
    margin-left: 5px;
    box-shadow: 3px 3px 3px #deefde;
}

/* Section des activités sur Marseille*/

.activites{
    margin-bottom: 20px;
    margin-top: 60px;
}
.activites a{
    text-decoration: none;
    color: black;
}
.activites img{
    object-fit: cover;
}
.icones-activites{
    display: flex;
    justify-content: space-around;
    
}
.colone{
    display: flex;
    flex-direction: column;
}
.onglets-activités{
    background-color: white;
    border-radius: 20px;
    box-shadow: 20px 20px 20px #f2f2f2;
    padding-bottom: 15px;
}
.titre_activites{
    font-weight: bold;
    padding-left: 5px;
}
img{
    border-radius: 10px 10px 0px 0px;
}

.img-pop{
    border-radius: 10px 0px 0px 10px;
    float: left;
    margin-right: 15px;
}

/* Pieds de page*/

footer{
    display: flex;
    padding: 20px;
    background-color:#f2f2f2; 
    justify-content: space-between;
}
footer a{
    text-decoration: none;
    color: black;
}
footer li{
    list-style-type: none;
    margin-left: -40px;
}
.a_propos a{
    display: flex;
}
.nos_hebergements a{
    display: flex;
}
.assistance a{
    display: flex;
    padding-right: 400px;
}

/*Requête format petit ordianteurs*/
@media screen and (max-width: 1300px) {
    body{
       margin: 10px;
    }
    header{
       border-bottom: 1px solid #0065fc;
    }
    .filters{
        width: 80%;
    }
    .part_1{
        width: 100%;
    }
    .hebergement-Marseille{
        width: 60%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .titre-hotels{
        margin: 40px;
        padding-right: 100px;
    }
    .onglets_hotels{
       display: flex; 
       width: 400px;
       padding-left: 8px;
    }
    .onglets_hotels img{
        border-radius: 10px 0px 0px 10px; /*bordure à verifier*/
        margin-right: 10px;
       height:130px ;
    }
    .image-plus{
        justify-content: space-around;
           margin-right: 50px;
           padding-right: 250px;
        }
    .populaire{
        width: 50%;
    }
    .activites{
        display: flex;
        flex-direction: column;
    }
    .icones-activites{
        display: flex;
        flex-wrap: wrap;
    }
    .icones-activites img{
        height: 200px;
    }
    .colone{
        display: flex;
        flex-direction: row;
    }

}

/*Requête format tablette*/

@media only screen  and (min-width: 501px) and (max-width: 767px) and (orientation: portrait) {
    body{
        margin: 0px;
        padding: 0px;
    }

    header{
        border-bottom: 2px solid #f2f2f2;
        margin: 10px;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
     }
     .menu:hover{
        background-color: rgba(152, 182, 221, 0.2)

     }
     
     h3, p, form{
         flex-wrap: wrap;
         margin: 10px;
     }
     
     .filters{
        display: flex; 
        flex-direction: column;
        height: auto;
        width: 55%;
    }
    
    .info{
        justify-content: space-around;
        margin-right: 50px;
        padding-right: 180px;
        
     }
     .part_1{
         display: flex;
         flex-direction: column-reverse;
         width: auto;
     }

     .populaire{
         width: auto;
         background-color: #f2f2f2;
         border-radius: 0px 0px 0px 0px;
         margin-bottom: 20px;
     }

     .titre-hotels{
        margin: 40px;
     }
     .hebergement-Marseille{
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         width: auto;
         background-color: white;
         padding-right: 60px;
         box-shadow: none;
         
     }
     .onglets_hotels{
         width: auto;
         border-left: 1px solid #0065fc;
         padding-left: 10px;
         box-shadow: none;
         width: 90%;
         display: flex;
         flex-direction: column;
     }
     .onglets_hotels img{
         height: 180px;
         border-radius: 10px;
         box-shadow: 2px 1px 2px #f2f2f2;
        width: 400px;

     }
     .image-plus{
     justify-content: space-around;
        margin-right: 50px;
        padding-right: 180px;
     }
       
     .icones-activites{
         display: flex;
         flex-direction: row;
         width: auto;
     }

     .onglets-activités img{
        width: 450px;
     }
     .colone img{
         width: 250px;
     }
    
     footer{
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
     }
}

        /* Requette Smartphone*/
@media only screen and (min-width: 321px) and (max-width: 500px){
    body{
        margin: 10px;
    }
    header{
        border-bottom: 1px solid red;
    }
    nav{ 
        display: flex;
        flex-wrap: wrap;
    }
    .menu{
        border-bottom: 1px solid #f2f2f2;
    }
    
    .menu:hover{
        color: #0065fc;
        border-top: none;
        border-bottom: 1px solid #0065fc;
    }
    .recherche button{
        background-image: url();
    }
    .filters{
        width: 100%;  
    }
    .part_1{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .populaire{
        width: auto;
    }
    .hebergement-Marseille{
        width: 400px;
        background-color: white;
        border-radius: 0px;
        box-shadow: none;
        margin: auto;
    }
    .onglets_hotels{
        display: flex;
        flex-direction: column;
    }
    .onglets_hotels img{
        width: 400px;
        height: 150px;
        border-radius: 10px 10px 0px 0px; /*bordure a verifier*/
    }
    .image-plus {
        margin: 20px;
    }
    .image-plus a:hover{
        color: #0065fc;
    }
    .activites{
        flex-direction: column;
    }
    .colone{
        flex-direction: column;
    }
    .activites img{
        width: 400px;
        height: 180px;
    }
    footer{
        flex-direction: column;
    }



}