body{
    font-family: 'Raleway', sans-serif;
}
body img{
    object-fit: cover;

}
body a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    width: 100%;
    margin-bottom: 40px;
}
header img{
    width: 15%;
    margin-top: -20px;
}
.sous-menu{
    display: none;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 20px;
}
nav a:hover{
    color:#0065fc;
    border-top: 2px solid #0065fc;
}
.inscription{
    color: #0065fc;
    font-weight: bold;
}
.second-menu{
    display: none;
}
.intro{
    margin: auto;
}
/*bouton de recherche*/
.recherche-v2{
    display: none;
}
.recherche{
    display: flex;
}
.recherche button {
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
    width: 130px;
    height: 40.5px;
    color: white;
    margin-bottom: 30px;
}
label i{
    color: black;
    padding-top: 5px;
    border-radius: 10px 0px 0px 10px;
    background-color: #ccc6c6;
    padding: 12px;
}
.recherche input{
    height: 40px;
    border: 1px solid #ccc6c6;
    padding: auto;
}
::placeholder{
    color: black;
    font-weight: bold;
    padding: 10px;
}

button:hover{
    cursor: pointer;
    color: #867d7d;
}

/*les filtres*/

.filters label{
    font-weight: bold;
    padding-top: 20px;
}
.filters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 30px;
}
.filtres{
    display: flex;
    border: 1px solid #ccc6c6;
    border-left: none;
    border-radius: 40px;
    width: auto;
}
.filtres i{
    border: 1px solid #deebff;
    border-radius: 50px;
    padding: 17px;
    margin-left: -5px;
    background-color: #deebff;
}
i{
    color: #0065fc;
}
.filtres:hover{
    color: #0065fc;
    cursor: pointer;
}

.info{
    display: flex;
    width: auto;
    margin: auto;
    margin-bottom: 20px;
}

/*partie 1 de la page : hebergements sur Marseille*/

.part_1{
    display: flex;
    width: 100%;
}
.evaluation i{
    font-size: 1em;
    color: gray;
}
.evaluation .i__color{
    color: #0065fc;
}

h3{
    margin: 15px;
}

.gauche{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    width: 70%;
    margin-right: 20px;
    padding-top: 40px;
}
.hebergement-Marseille{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.onglets_hotels{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.onglets_hotels figcaption{
    margin-top: -20px;
    margin-left: 10px;
}
.onglets_hotels figcaption p{
    margin-top: -15px;
}
.onglets_hotels img{
    border-radius: 10px 10px 0px 0px;
}
.image-plus{
    margin: 20px;
}
.image-plus a:hover{
  color: #0065fc;
}
 /*partie droite de la page: les gebergements populaire */
.droite{
    background-color:#f2f2f2;
    width: 35%;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    padding-top: 40px;
}

.titre_icone{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.onglets-hotels-pop{
    display: flex;
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.onglets-hotels-pop figcaption{
    margin-top: -10px;
}
.onglets-hotels-pop figcaption p{
    margin-top: -15px;
    margin-bottom: 30px;
}

.img-pop{
    height: 130px;
}
.onglets-hotels-pop img{
    border-radius: 10px 0px 0px 10px;
    margin-right: 10px;
}

 /*seconde partie sur les activités */

 .activites{
     width: 100%;
 }
 .activites img{
     width: 300px;
 }
 .icones-activites{
     display: flex;

 }
 .icones-activites img{
     border-radius: 10px 10px 0px 0px;
 }
 .onglets-activités{
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
    
 }
 .titre_activites{
     font-weight: bold;
     margin: 5px;
 }

 /*pieds de page */

 footer{
     display: flex;
     justify-content: space-between;
     background-color: #f2f2f2;
 }
 
 footer ul{
     list-style-type: none;
 }
 footer a{
    margin-left: -38px;
 }

 /* Responsive disign pour les smartphones*/

 @media only screen  and (min-width: 320px) and (max-width:501px){
    
    header{
        width: auto;
    }
    header img{
        width: 30%;
        object-fit: none;
    }
    .nav1{
        display: none;
    }
    .sous-menu{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 40px;
        margin-bottom: 30px;
    }
   
    .second-menu{
        display: flex;
        font-weight: bold;
    }
    
    .inscription2{
        color: #0065fc;
    }
   
    .menu2{
        width: 50%;
        border-bottom: 2px solid rgb(194, 185, 185);
        padding-bottom: 10px;
        text-align: center;
    }
    .menu2:hover{
      color: #0065fc;
      border-bottom: 2px solid #0065fc;
    } 

    .intro{
        margin-left: auto;
    }
    .recherche{
        display: none;
    }
    .recherche-v2{
        display: flex;
        margin-bottom: 30px;
    }
    .recherche-v2 label {
        padding-top: 5px;
        border-radius: 10px 0px 0px 10px;
        background-color: #ccc6c6;
        padding: 11.5px;
    }
    .recherche-v2 input{
        border: 1px solid #ccc6c6;
        width: 70%;
    }
    ::placeholder{
        padding-left: 20px;
        color: black;
        font-weight: bold;
    }
    .recherche-v2 button{
        border: 1px solid black;
        border-style: hidden;
        border-radius: 10px;
        padding: 14px;
        margin-left: -10px;
        background-color: #0065fc;
    }
    .recherche-v2 button i{
        color: white;
        padding: 10px;
    }
    .filters{
        display: flex;
        flex: wrap;
        width: 100%;
    }
    .filtres{
        margin: 8px;
    }
    .info{
        width: 100%;
        margin: auto; 
        margin-bottom: 20px;
    }
    .info figcaption{
        font-size: .6em;
        padding-top: 5px;
    }
    .part_1{
        flex-direction: column-reverse;
    }
    .gauche{
        width: 100%;
        background-color: white;
        border: none;
    }
    .hebergement-Marseille{
        flex-direction: column;
    }
    .onglets_hotels{
        width: 90%;
        margin-left: 10px;
    }
    .onglets_hotels img{
        width: 100%;
        height: 150px;
    }
    .droite{
        width: 100%;
        margin-bottom: 40px;
        border-radius: 0px;
    }
    .onglets-hotels-pop{
        width: 90%;
        margin-left: 10px;
    }
    .onglets-hotels-pop img{
        height: 130px;
        width: 120px;
    }
   
    .activites{
        margin-top: 40px;
    }
    .activites img{
        width: 100%;
        height: 150px;
    }
    .colone{
        display: flex;
        flex-direction: column;
    }
    .icones-activites{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        padding-left: 30px;
    }
    

 }

 /* Responsive disign pour les tablettes*/


 @media only screen  and (min-width: 502px) and (max-width:1024px){
    
    .recherche-v2 label i{
        padding: auto;
    }
    ::placeholder{
        padding-left: 15px;
    }
    .filters{
        width: 100%;
    }
    .filtres{
        margin: 10px;
    }
    .info{
        margin: 0px;
        margin-bottom: 20px;
    }
    .part_1{
        flex-direction: column;
    }
    .droite{
        width: 100%;
    }
    .onglets-hotels-pop{
        flex-direction: column;
        width: 80%;
        margin-left: 50px;
    }
    .onglets-hotels-pop img{
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0px 0px;
        margin-bottom: 5px;
    }
    .gauche{
        width: 100%;
        margin-bottom: 30px;
    }
    .onglets_hotels{
        width: 80%;
        margin-left: 50px;
    }
    .onglets_hotels img{
        width: 100%;
        height: 200px;
    }

    /*.activites{
        width: auto;
    }
    .icones-activites{
    flex-wrap: wrap;
    }
    .icones-activites img{
    width: 290px;
    }
    */

    .activites img{
        width: 100%;
    }
    .icones-activites{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr ;
    }
    .box1{
        grid-column-start: 1;
    }
    .box2{
        grid-column-start: 2;
        grid-row-end: 2;
    }
    .box3{
        grid-row-start: 2;
        grid-column-start: 2;
    }
    .box4{
        grid-column-start: 1;
        grid-row-start: 2;
    }

 }